body,
html {
  font-family: 'Nunito', sans-serif !important;
  background: #CAEAFF;
  background: -webkit-linear-gradient(bottom, #CAEAFF, #FCFFFE);
  background: -moz-linear-gradient(bottom, #CAEAFF, #FCFFFE);
  background: linear-gradient(to top, #CAEAFF, #FCFFFE);
/* Created with https://www.css-gradient.com */
}
.bg1 {
  background: #CAEAFF;
background: -webkit-linear-gradient(bottom, #CAEAFF, #FCFFFE);
background: -moz-linear-gradient(bottom, #CAEAFF, #FCFFFE);
background: linear-gradient(to top, #CAEAFF, #FCFFFE);
}
.bg2{
  /* Created with https://www.css-gradient.com */
background: #CAEAFF;
background: -webkit-linear-gradient(top, #CAEAFF, #FCFFFE);
background: -moz-linear-gradient(top, #CAEAFF, #FCFFFE);
background: linear-gradient(to bottom, #CAEAFF, #FCFFFE, #CAEAFF);
}
/* NAVBAR */

.navtop {
  background-color: rgb(82, 131, 255);
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand {
  background: -webkit-linear-gradient(
    rgb(141, 255, 253),
    rgb(82, 131, 255),
    rgb(1, 9, 252)
  );
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 28px;
}
.lh-1 {
  line-height: 1 !important;
  color: #3065eb!important;
}
.navlink {
  font-weight: 600!important;
  font-size: 17px!important;
}

/* HOME */

@media (max-width: 414px) {
  .dog {
    width: 350px ;
    height: 220px;
  }
}
.homebtn :focus,
.homebtn {
  
    background: -webkit-linear-gradient(
      rgb(82, 131, 255),
      rgb(31, 47, 152)
    )!important;
    font-weight: 600!important;
    font-size: 28px!important;
    color: white!important;
   border: none!important;
   
    }

/* SEARCHPET */

.cards {
  transition: transform .2s;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px!important;
}
@media (min-width: 415px) {
  .cards:hover {
    transform: scale(1.1)!important;
  }
}
.columns {
  grid-template-columns: 1fr 2fr!important;
}
.btn-hover {
    width: 200px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    color: #fff !important;
    cursor: pointer !important;
    margin: 20px !important;
    height: 55px !important;
    text-align:center !important;
    border: none !important;
    background-size: 300% 100% !important;

    border-radius: 50px !important;
    -moz-transition: all .4s ease-in-out !important;
    -o-transition: all .4s ease-in-out !important;
    -webkit-transition: all .4s ease-in-out !important;
    transition: all .4s ease-in-out !important;
}
.btn-hover:hover {
    background-position: 100% 0 !important;
    -moz-transition: all .4s ease-in-out !important;
    -o-transition: all .4s ease-in-out !important;
    -webkit-transition: all .4s ease-in-out !important;
    transition: all .4s ease-in-out !important;
}

.btn-hover:focus {
    outline: none!important;
}
.btn-hover.color-9 {
  background-image: linear-gradient(to right, #80b3ff, #4481eb, #3065eb, #3a74cc)!important;
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75)!important;
}

/* ADDMR */

.formbtn {
  width: 120px!important;
  font-size: 20px!important;
  font-weight: 600!important;
  color: #fff!important;
  cursor: pointer!important;
  height: 55px!important;
  text-align:center!important;
  border: none!important;
  background-size: 300% 100%!important;

  border-radius: 50px!important;
  -moz-transition: all .4s ease-in-out!important;
  -o-transition: all .4s ease-in-out!important;
  -webkit-transition: all .4s ease-in-out!important;
  transition: all .4s ease-in-out!important;
}
.formbtn:hover {
  background-position: 100% 0!important;
  -moz-transition: all .4s ease-in-out!important;
  -o-transition: all .4s ease-in-out!important;
  -webkit-transition: all .4s ease-in-out!important;
  transition: all .4s ease-in-out!important;
}
.formbtn:focus {
  outline: none!important;
}
.formbtn.color-9 {
background-image: linear-gradient(to right, #80b3ff, #4481eb, #5283ff, #3f86ed)!important;
box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75)!important;
}
@media (min-width: 395px) {
  .cat {
    width: 250px!important;
    height: 210px!important;
    align-self: center!important;
   
  }
}

/* SIGNUP */
.card {
   box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px!important;
}

/* FOOTER */

.section2 {
  color: #3065eb;
  background-color: #CAEAFF!important;
}

.a {
  color: #3065eb!important;
}


/* HOWTO */
.howto{
  width: 85%; 
  height: 100%; 
  border-radius: 21px 21px 21px 21px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media (max-width: 395px) {
  .phone {
    width: 300px;
    height: 520px;
    
   
  }
}

/* USERACCOUNT */
@media (max-width: 375px) {
  .Yaf {
    width: 300px;
    height: 250px;
  }

}